.Login {
    padding: 20px;
}

.login-container {
    width: 60%;
    padding: 10px;
    margin: 0 auto;
}

.login-title {
    text-align: left;
    padding-left: 15px;
    font-size: 30px;
    font-family: 'Roboto, sans-serif', sans-serif;
    width: 100%;
}

.login-text {
    padding: 10px;
    text-align: justify;
    font-size: 18px;
}

.login-input {
    width: calc(50% - 20px);
    margin: 0 10px;
}